<div id="signup">
  <h3 class="mb-4 pb-2 text-center">Sign Up</h3>

  <form [formGroup]="signUpForm" (ngSubmit)="signUp()" class="flex flex-column justify-content-center align-items-center">

    <p-message *ngIf="errorMessage" severity="error" [text]="errorMessage" class="mb-4"></p-message>

    <span class="p-float-label mb-4">
      <input id="username" type="text" pInputText formControlName="username">
      <label for="username">Username</label>
    </span>
    <span class="p-float-label mb-4">
      <input id="email" type="email" pInputText formControlName="email">
      <label for="email">Email</label>
    </span>
    <span class="p-float-label mb-4">
      <input id="password" type="password" pInputText formControlName="password">
      <label for="password">Password</label>
    </span>
    <span class="p-float-label mb-4">
      <input id="passwordVerify" type="password" pInputText formControlName="passwordVerify">
      <label for="passwordVerify">Repeat Password</label>
    </span>

    <button type="submit" pButton [disabled]="!signUpForm.valid">Sign Up</button>
  </form>
</div>
